body{
  width: 300px;
  background: aliceblue;
}

form{
  display: flex;
  flex-direction: column;
}

label{
  display: block;
}

select{
  width: 60px;
}

input[type=submit]{
  width: 30%;
  height: 20px;
  margin-top: 10px;
}

.Result{
  border: black;
  border-style: solid;
  border-width: 2px;
  background: white;
  text-align: center;
  font-size: 12px;
}