<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='windchill.css') }}">
<head>
  <title>{% block title %}{% endblock %}</title>
</head>
  
<body>
  <nav>
    <h1>Wind Chill Calculator</h1>
  </nav>

  {% block content %}
  <form method="post">
    <div class="Temperature">
      <label for="temp">Temp:</label>
      <input name="temp" id="temp" value="{{ temp }}" required>

      <label for="unitF">F</label>
      <input type="checkbox" name="unitF" id="unitF" {% if isF %} checked {% endif %}>

      <label for="unitC">C</label>
      <input type="checkbox" name="unitC" id="unitC" {% if isC %} checked {% endif %}>
    </div>

    <label for="speed">Speed:</label>
    <input name="speed" id="speed" value="{{ speed }}" required> <br>
    
    <label for="chill">Chill:</label>
    <input name="chill" id="chiill" value="{{ chill }}"> <br>
    
    <input type="submit" value="Submit">
  </form>
  {% endblock %}
</body>