<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='windchill.css') }}">
<head>
  <title>{% block title %}{% endblock %}</title>
</head>
  
<body>
  <nav>
    <h1>Wind Chill Calculator</h1>
  </nav>

  {% block content %}
  <form method="post">
    <div class="Temperature">
      <label for="temp">Temp:</label>
      <input name="temp" id="temp" value="{{ temp }}" required>

      <select name="tempUnit">
        <option value = "f">F</option>
        <option value = "c">C</option>
      </select>
    </div>

    <div class="Speed">
      <label for="speed">Speed:</label>
      <input name="speed" id="speed" value="{{ speed }}" required>
      <select name="speedUnit">
        <option value = "mph">mph</option>
        <option value = "kmh">km/h</option>
      </select>
    </div>
    <input type="submit" value="Submit">

    {% if chill != None %}
      <div class="Result">
        <h3>Windchill = {{ chill }} {{ tempUnit }}</h3>
      </div>
    {% endif %}

  </form>
  {% endblock %}
</body>